* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #04021a;
  color: rgb(229, 240, 240);
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.passcode-text {
  font-size: 2rem;
}
